:root {
    --logo-font-family: 'Raleway', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --brand-color: #4D5AE5;
    --dark-color-header-and-background: #2E2F42;
    --dark-color-paragrapf: #434455;
    --light-color-logo-and-description: #F4F4FD;
    --light-color-footer-and-borders: #E7E9FC;
    --light-color-header: #FFFFFF;
    --hover-focus-navigation-menu: #404bbf;
}

a {
    text-decoration: none;
}

/* Logo */
.logo-link {
    color: var(--brand-color);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part2 {
    color: var(--dark-color-header-and-background);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part2-header {
    color: var(--dark-color-header-and-background);
}

.logo-link-part2-footer {
    color: var(--light-color-footer-and-borders);
}

/* Navigation Menu */
.list {
    list-style: none;
}

.navigation-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-header-and-background);
}
.navigation-menu:hover,
.navigation-menu:focus {
    color: var(--hover-focus-navigation-menu);
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--hover-focus-navigation-menu);
}

/* Contact Info */
.contact-links {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-paragrapf);
    font-style: normal;
}

.contact-links:hover,
.contact-links:focus {
    color: var(--hover-focus-navigation-menu);
}

/* Business Description */
.bussines-description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--light-color-footer-and-borders);
}

.footer {
    background-color: var(--dark-color-header-and-background);
}

/*Global styles*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

/*Classes*/

.hero-content {
    background-color: var(--dark-color-header-and-background);
}
.title-hero-content {
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 700;
}
.color-white {
    color: #FFFFFF;
}

.title-section-three {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
}

h2 {
    color: var(--dark-color-header-and-background);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    color: var(--dark-color-header-and-background);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

p {
    color: var(--dark-color-paragrapf);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}

.order-service-button {
    background-color: var(--brand-color);
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

ul {
    display: flex;
}


a {
    text-decoration: none;
}

/* Top line */
.top-line {
    background-color: var(--light-color-header);
    border: var(--light-color-borders);
}

/* Logo */
.logo-link {
    color: var(--brand-color);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part2 {
    color: var(--dark-color-header-and-background);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part2-header {
    color: var(--dark-color-header-and-background);
}

.logo-link-part2-footer {
    color: var(--light-color-footer-and-borders);
}

/* Navigation Menu */
.list {
    list-style-type: none;
}

.navigation-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-header-and-background);
}
.navigation-menu:hover,
.navigation-menu:focus {
    color: var(--hover-focus-navigation-menu);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--hover-focus-navigation-menu);
}

/* Contact Info */
.list {
    font-style: normal;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-paragrapf);
}

.contact-links,
.contact-links {
    color: var(--hover-focus-navigation-menu);
}

/* Business Description */
.bussines-description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--light-color-footer-and-borders);
}

.footer {
    background-color: var(--dark-color-header-and-background);
}


ul {
    list-style-type: none;
}

/*Classes*/

/* Portfolio Filters */
    .portfolio-filters {
        display: inline-block;
        width: 78px;
        height: 48px;
        padding: 12px 24px 12px 24px;
        border-radius: 4px;
        border: 1px solid var(--light-color-footer-and-borders);
        text-align: center;
        text-decoration: none;
        line-height: 48px;
        color: #4D5AE5;
        background-color: var(--light-color-logo-and-description);
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    .portfolio-filters:hover,
    .portfolio-filters:focus{
        color: var(--light-color-header);
        background-color: #4D5AE5;
        ;
    }

/* Portfolio Cards */
    .cards-images {
        width: 360px;
        height: 300px;
    }

    .cards-title {
        color: var(--dark-color-header-and-background);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 290px;
        height: 24px;
    }

    .cards-paragraph {
        color: var(--dark-color-paragrapf);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 30px;;
        height: 24px
    }
