:root {
    --logo-font-family: 'Raleway', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --brand-color: #4D5AE5;
    --dark-color-header-and-background: #2E2F42;
    --dark-color-paragrapf: #434455;
    --light-color-logo-and-description: #F4F4FD;
    --light-color-footer-and-borders: #E7E9FC;
    --light-color-header: #FFFFFF;
    --hover-focus-navigation-menu: #404bbf;
}

a {
    text-decoration: none;
}

/* Top line */
.top-line {
    background-color: var(--light-color-header);
    border: var(--light-color-borders);
}

/* Logo */
.logo-link {
    color: var(--brand-color);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
}

.logo-link-part2 {
    color: var(--dark-color-header-and-background);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part2-header {
    color: var(--dark-color-header-and-background);
}

.logo-link-part2-footer {
    color: var(--light-color-footer-and-borders);
}

/* Navigation Menu */
.list {
    list-style: none;
}

.navigation-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-header-and-background);
}
.navigation-menu:hover,
.navigation-menu:focus {
    color: var(--hover-focus-navigation-menu);
}

/* Contact Info */
.contact-links {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-paragrapf);
    font-style: normal;
}

.contact-links,
.contact-links {
    color: var(--hover-focus-navigation-menu);
}

/* Business Description */
.bussines-description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--light-color-footer-and-borders);
}

.footer {
    background-color: var(--dark-color-header-and-background);
}