:root {
    --logo-font-family: 'Raleway', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --brand-color: #4D5AE5;
    --dark-color-header-and-background: #2E2F42;
    --dark-color-paragrapf: #434455;
    --light-color-logo-and-description: #F4F4FD;
    --light-color-footer-and-borders: #E7E9FC;
    --light-color-header: #FFFFFF;
    --hover-focus-navigation-menu: #404bbf;
}

/*Global styles*/
body {
    font-family: var(--body-font-family);
    color: var(--dark-color-paragrapf);
    background-color: var(--light-color-header);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*Classes*/

.hero-content {
    background-color: var(--dark-color-header-and-background);
}

h1 {
    color: var(--light-color-header);
    font-family: var(--body-font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0,2em;
    text-align: center;
}

h2 {
    color: var(--dark-color-header-and-background);
    font-family: var(--body-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    color: var(--dark-color-header-and-background);
    font-family: var(--body-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

p {
    color: var(--dark-color-paragrapf);
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}

.order-service-button {
    color: var(--light-color-header);
    background-color: var(--brand-color);
    font-family: var(--body-font-family);
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px, 32px, 16px, 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

ul {
    display: flex;
}