
a {
    text-decoration: none;
}

/* Top line */
.top-line {
    background-color: var(--light-color-header);
    border: var(--light-color-borders);
}

/* Logo */
.logo-link {
    text-decoration: none;
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.logo-link-part1 {
    color: var(--brand-color);
}

.logo-link-part2-header {
    color: var(--dark-color-header-and-background);
}

.logo-link-part2-footer {
    color: var(--light-color-footer-and-borders);
}

/* Navigation Menu */
.navigation-menu-links {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-header-and-background);
}
.navigation-menu-links:hover,
.navigation-menu-links:focus {
    color: var(--brand-color)
}

/* Contact Info */
.contact-links {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark-color-header-and-background);
    font-style: normal;
}

/* Business Description */
.bussines-description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--light-color-footer-and-borders);
}

.footer-background {
    background-color: var(--dark-color-header-and-background);
}